name: Awesome-Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16 (LTS)
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: npm install, build, and lint/test
        run: |
          npm ci
          npm run build --if-present
          npm test
